body{
    background-image: url(/js/imagens/thumb-1920-376875.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-top: 15%;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    flex-direction: column;
    color: white
}
